.cart-page {
  padding: 2rem;
}

.cart-item {
  display: flex;
  gap: 2rem;

  margin-bottom: 2rem;

  border-bottom: 1px solid #ddd;

  padding-bottom: 1rem;
}

.cart-item img {
  width: 150px;
  border-radius: 10px;
}

button {
  margin-top: 1rem;

  padding: 0.7rem 1rem;

  background: black;
  color: white;

  border: none;
  border-radius: 10px;

  cursor: pointer;
}

.total {
  margin-top: 2rem;
}
.checkout-section {

  margin-top: 2rem;

  display: flex;

  justify-content: flex-end;
}

.checkout-button {

  padding: 1rem 2rem;

  border: none;

  border-radius: 10px;

  background: black;

  color: white;

  font-size: 1rem;

  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}

.checkout-button:hover {

  background: #222;
}