<nav class="navbar">

  <div
    class="logo"
    routerLink="/products"
  >
    NebulaCart 🛒
  </div>

  <div class="nav-links">

    <a routerLink="/products">
      Products
    </a>

    <a routerLink="/cart">
      Cart
    </a>

    <ng-container
      *ngIf="
        !authService.isLoggedIn()
      "
    >

      <a routerLink="/login">
        Login
      </a>

      <a routerLink="/register">
        Register
      </a>

    </ng-container>

    <ng-container
      *ngIf="
        authService.isLoggedIn()
      "
    >

      <button
        (click)="logout()"
      >
        Logout
      </button>

    </ng-container>

  </div>

</nav>